
*{
	margin:0;
	padding:0;  
}



.main{
	background-image: url(http://alvearsupermercados.com.ar/img/body-bg.jpg);
	background-repeat: no-repeat;
	position: absolute;
	width: 1349px ;
	height: 1390px;
	background-position: top;
	background-size: 2480px;
	overflow: hidden;
	margin: 0; 

}

.titulo{
	padding-top: 20px;
	opacity: 0.8;
	font-family: Verdana;
	padding-bottom: 20px; 
	background:#222222;
	height:50px;
	border-bottom:solid 1px #333333;
	color: #B3B6B7  ;

}

h2{
	color: #17202A ;
}

a{
	text-decoration: none;
	color: #D0D3D4 ;
}

a:hover{
	color: #34495E;
}
.uno{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}

.dos{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}

.tres{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}




.cuatro{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}

.cinco{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}

.seis{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}

.siete{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}
.ocho{
	font-size: 1.2em;
	margin-top:20px;
	padding-top: 20px; 
	height: 120px;
	width: 500px;
	background: #5D6D7E ;
	opacity: 0.8;
	margin-bottom: 20px;
}